response.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" version="1.0" targetNamespace="http://common.tv.se/v4_0">

	<xs:element name="publishResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="scheduleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="return" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>